/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */



.logo{
    top: 0%;
    left: 17%;
}
.under-logo{
    top: 1%;
    left: 6%;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .logo{
        top: 3%;
        left: 24%;
    }
    .under-logo{
        top: -8%;
        left: 7%;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .logo{
        top: 2%;
        left: 28%;
    }
    .under-logo{
        top: -12%;
        left: 10%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .logo{
        top: 8%;
        left: 30%;
    }
    .under-logo{
        top: -10%;
        left: 15%;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .logo{
        top: 8%;
        left: 32%;
    }
    .under-logo{
        top: -12%;
        left: 21%;
    }

 }